# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [8]:
wine = pd.read_csv("winequality-red.csv")

In [9]:
wine.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5

In [11]:
wine.shape

(1599, 12)

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [16]:
wine.drop(columns=["fixed acidity","residual sugar","total sulfur dioxide","pH",],axis=1)

,volatile acidity,citric acid,chlorides,free sulfur dioxide,density,sulphates,alcohol,quality
0,0.700,0.00,0.076,11.0,0.99780,0.56,9.4,5
1,0.880,0.00,0.098,25.0,0.99680,0.68,9.8,5
2,0.760,0.04,0.092,15.0,0.99700,0.65,9.8,5
3,0.280,0.56,0.075,17.0,0.99800,0.58,9.8,6
4,0.700,0.00,0.076,11.0,0.99780,0.56,9.4,5
...,...,...,...,...,...,...,...,...
1594,0.600,0.08,0.090,32.0,0.99490,0.58,10.5,5
1595,0.550,0.10,0.062,39.0,0.99512,0.76,11.2,6
1596,0.510,0.13,0.076,29.0,0.99574,0.75,11.0,6
1597,0.645,0.12,0.075,32.0,0.99547,0.71,10.2,5
1598,0.310,0.47,0.067,18.0,0.99549,0.66,11.0,6

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

### Step 6. Set the values of the first 3 rows from alcohol as NaN

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

### Step 9. Count the number of missing values

### Step 10.  Create an array of 10 random numbers up until 10

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

### Step 12.  How many missing values do we have?

### Step 13. Delete the rows that contain missing values

### Step 14. Print only the non-null values in alcohol

### Step 15.  Reset the index, so it starts with 0 again

### BONUS: Create your own question and answer it.